$text-clr: #252525;
$border-clr: lighten($text-clr, 70%);

h3 {
  margin: 10px 0px;
  color: lighten($text-clr, 10%);
}

.users {
  padding: 20px 80px;
  position: relative;

  

  &__page-numbers {
    padding: 5px 20px;
    .select {
      padding: 3px 7px;
      margin-right: 3px;
      background: lighten($border-clr, 10%);
      color: darken($border-clr, 30%);
      border-radius: 3px;
      cursor: pointer;
      &.selected {
        font-weight: bold;
        color: $text-clr;
        background: $border-clr;
      }
    }
  }

  &__user {
    display: grid;
    grid-template-columns: 4fr 9fr;
    padding: 15px 20px;
    &-leftside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .user-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .follow-btn {
        margin-top: 10px;
      }
    }
    &-description {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 20px;
      border: 1px solid $border-clr;
      border-radius: 20px;
      .descr-leftside {
        position: relative;
        width: 50%;
        &__username {
          position: absolute;
          top: 0;
          left: 0;
        }
        &__status {
         position: absolute;
         bottom: 0;
         left: 0;
         padding: 5px 0px;
         font-size: 14px;
         opacity: .5;
         &.active {
           opacity: .8;
         }
        }        
      }
      .descr-rightside {
        position: relative;
        width: 50%;
        opacity: .2;
        &__country {
          position: absolute;
          right: 0;
          top: 0;
        }
        &__city {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}