$header-bg: #fff;

.header {
  grid-area: h;
  background-color: $header-bg;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  height: 60px;
  .logo {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 30px;
    span {
      font-size: 20px;
      font-weight: bold;
      opacity: .9;
    }
    img {
      width: 40px;
      margin-right: 15px;
    }
  }
  .loadingside {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .preloader {
      position: relative;
      left: 0;
      transform: none;
    }
  }
  .otherside {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .auth {
      display: flex;
      align-items: center;
      margin-right: 20px;
      font-size: 18px;
      a {
        text-decoration: none;
      }
      .logout {
        margin-left: 5px;
      }

      &__authorised {
        margin: 0;
        font-weight: normal;
        h3 {
          margin: 0;
        }
      }
    }
  }
}

.logout {
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: .9;
  &:hover {
    opacity: .7;
  }
}