$nav-bg: #f5f5f5;
$nav-clr: #252525;
$nav-clr__active: lighten($nav-clr, 30%);


.nav {
  grid-area: n;
  background-color: $nav-bg;

  ul {
    padding: 0 20px 0 30px;
  }

  &__item {
    list-style-type: none;
    padding: 10px 7px 10px 17px;

    a {
      // color: white;
      color: $nav-clr;
      text-decoration: none;
    }

    a.active {
      position: relative;
      color: $nav-clr__active;
      
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $nav-clr__active;
        opacity: .3;
      }
    }
  }
}