$text-clr: #252525;


.post {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  &__author {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    margin-right: 10px;
  }
  &__description {
    &-message {
    color: lighten($text-clr, 20%);
  }
  &-likes {
    padding-top: 5px;
    font-size: 14px;
    opacity: .7;
  }
  }
}