$main-text-clr: #252525;
$content-bg: #fff;

a {
  color: $main-text-clr;
}
.app-wrapper {
  color: $main-text-clr;
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  width: 1200px;
  height: 100%;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}


.content {
  grid-area: c;
  background-color: $content-bg;
}